{
    "requires": {
        "auth": {
          "kind": "basic",
          "users": {
            "demo": {
              "password": // basic authentication password for user demo
            }
          }
        }
    }
}
